@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} */
html,body{
  height: 100%;
  width: 100%;
  background-color:#212121 ;
  color: white;
}

#tasklist::-webkit-scrollbar{
  background-color: transparent;
  height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
background-color: rgb(143, 143, 143);
border-radius: 50px;
}